<div nz-row>
  <div nz-col nzSpan="24" id="breadcrumb">
    <nz-breadcrumb nzSeparator=">"> </nz-breadcrumb>
  </div>
</div>
<div
  nz-row
  style="height: 100%"
  nzType="flex"
  nzJustify="space-around"
  nzAlign="middle">
  <div
    nz-col
    class="notification-starter"
    nzXs="24"
    nzSm="24"
    nzMd="24"
    nzLg="24"
    nzXl="24"
    nzXXl="24">
    <nz-empty [nzNotFoundContent]="contentTpl">
      <ng-template #contentTpl>
        <!--  TODO: Open first message is exists  -->
        <span> Выберите уведомление из списка </span>
      </ng-template>
    </nz-empty>
  </div>
</div>
