<nz-content>
  <div class="breadcrumb">
    <div>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a [routerLink]="['/home']">главная</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item> как стать партнером </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>

  <div class="content">
    <div nz-row>
      <div class="section">
        <h1>Партнерство с Warrantify</h1>
      </div>

      <div class="section">
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          sollicitudin leo at tincidunt mattis. Fusce elementum est id lorem
          pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper. Etiam interdum tellus a leo eleifend vehicula. Etiam
          consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </h2>
        <p>
          <a href="https://redocly.github.io/redoc/" class="link"
            >Документация API</a
          >
        </p>
      </div>

      <div class="section">
        <h3 id="advantages">
          <a class="anchor" routerLink="./" fragment="advantages">#</a>
          <span>Преимущества партнерства</span>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          sollicitudin leo at tincidunt mattis. Fusce elementum est id lorem
          pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper.
        </p>
        <ul>
          <li>Etiam interdum tellus a leo eleifend vehicula</li>
          <li>Curabitur facilisis fringilla quam a bibendum</li>
          <li>Aliquam tristique urna lorem, id aliquam sapien dignissim ac!</li>
          <li>Nullam laoreet, massa at varius vulputate</li>
        </ul>
      </div>

      <div class="section">
        <h3 id="instructions">
          <a class="anchor" routerLink="./" fragment="instructions">#</a>
          <span>Как стать партнером</span>
        </h3>
        <p>
          Etiam consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim ac
          <a class="link">questions@warrantify.me</a>
        </p>
        <p id="step1">
          <a class="anchor" routerLink="./" fragment="step1">#</a>
          <strong>1</strong>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Nunc sollicitudin, diam dictum feugiat egestas, libero nisi
          auctor quam, non varius ipsum ligula ac ex. Duis non imperdiet massa,
          ut malesuada magna. Sed sed venenatis odio. Sed ac elit eget eros
          fringilla iaculis et in nunc. Suspendisse ac eleifend quam.
        </p>
        <p id="step2">
          <a class="anchor" routerLink="./" fragment="step1">#</a>
          <strong>2</strong>Sed pharetra aliquam risus sit amet finibus. Cras
          scelerisque dui sit amet diam laoreet aliquet. Cras at est sodales est
          varius molestie. Nulla ullamcorper arcu eu justo tincidunt faucibus.
        </p>
        <p id="step3">
          <a class="anchor" routerLink="./" fragment="step1">#</a>
          <strong>3</strong>Curabitur ac dolor justo. Nunc ultrices lorem mi.
          Nullam laoreet, massa at varius vulputate, orci velit sodales justo,
          at fringilla justo nibh sit amet ex.
        </p>
        <p id="step4">
          <a class="anchor" routerLink="./" fragment="step1">#</a>
          <strong>4</strong>Nullam ut tincidunt elit. Aenean nec odio sodales
          eros tempus iaculis quis eget mi. Pellentesque accumsan dignissim
          porta. Aenean eu lacinia mi.
        </p>
        <p id="step5">
          <a class="anchor" routerLink="./" fragment="step1">#</a>
          <strong>5</strong>Curabitur in turpis vehicula neque viverra ultrices.
          Nulla eu semper lacus. Nam congue pretium urna vel scelerisque.
          Praesent non sem vel ante posuere pulvinar.
        </p>
      </div>

      <div class="section">
        <h3 id="demo">
          <a class="anchor" routerLink="./" fragment="demo">#</a>
          <span>Демонстрационный дэшборд</span>
        </h3>
        <p>
          Etiam consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim ac
          <a class="link">демо-дэшборд партнера</a>
        </p>
        <p>
          Ullam ut tincidunt elit. Aenean nec odio sodales eros tempus iaculis
        </p>
      </div>
    </div>
  </div>
</nz-content>
