<!--<div>-->
  <nz-content>
    <div class="inner-content">

      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="12">
          <div class="hero">
            <h1 style="font-size: 42px" class="hero-header">Возьмите под контроль свои гарантии</h1>
            <h3 style="font-size: 30px" class="hero-subheader">Устраните бумажный процесс связанный с гарантийным обслуживанием ваших приборов</h3>
            <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round">
              <span style="font-size: 26px">Начать!</span>
            </button>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <img id="Rectangle_5" src="../../../assets/Rectangle_5.png" srcset="../../../assets/Rectangle_5.png 1x, ../../../assets/Rectangle_5@2x.png 2x">
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="home-start-how-to" nz-row nzType="flex" nzJustify="space-around" nzAlign="bottom">
            <div nz-col nzSpan="8">
              <img src="../assets/banner_shop.svg" alt="shop">
            </div>
            <div nz-col nzSpan="8">
              <img src="../assets/banner_archive.svg" alt="shop">
            </div>
            <div nz-col nzSpan="8">
              <img src="../assets/banner_cert.svg" alt="shop">
            </div>
          </div>

          <div nz-row nzType="flex" nzJustify="space-around">
            <div nz-col nzSpan="8">
              <h3 style="max-width: 15.625em">
                Регистрируйся в магазинах-партнерах и покупай любимую технику
              </h3>
            </div>
            <div nz-col nzSpan="8">
              <h3 style="max-width: 15.625em">
                Все гарантии будут автоматически сохранены на портале warrantify
              </h3>        </div>
            <div nz-col nzSpan="8">
              <h3 style="max-width: 15.625em">
                При гарантийном случае достаточно прийти с мобильным телефоном в сервис центр
              </h3>
            </div>
          </div>
        </div>
      </div>


    </div>
  </nz-content>
<!--</div>-->
