<!--<div>-->
  <nz-content>
    <div class="inner-content">

      <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
        <div nz-col nzSpan="12">
          <div class="hero">
            <h1 style="font-size: 42px" class="hero-header">Возьмите под контроль свои гарантии</h1>
            <h3 style="font-size: 30px" class="hero-subheader">Устраните бумажный процесс связанный с гарантийным обслуживанием ваших приборов</h3>
            <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round">
              <span style="font-size: 26px">Начать!</span>
            </button>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <img id="Rectangle_5" src="../../../assets/Rectangle_5.png" srcset="../../../assets/Rectangle_5.png 1x, ../../../assets/Rectangle_5@2x.png 2x">
        </div>
      </div>

    </div>
  </nz-content>
<!--</div>-->
