nz-content
  margin-top: 2px
  padding-left: 50px
  padding-right: 50px

.hero-header
  padding-right: 50px
  font-size: 42px

.hero-subheader
  padding-right: 50px
  font-size: 30px

button
  width: 262px
  min-height: 55px

img
  z-index: -50

.home-start-how-to
  div
    img
      filter: invert(28%) sepia(15%) saturate(1953%) hue-rotate(213deg) brightness(97%) contrast(87%)
