<!--<div>-->
<nz-content>
  <div class="hero">
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
      <div nz-col class="hero-content" nzSpan="12">
        <h1>Возьмите под контроль свои гарантии</h1>
        <h3>
          Устраните бумажный процесс связанный с гарантийным обслуживанием ваших приборов
        </h3>
        <button nz-button nzType="primary" [nzSize]="'large'" nzShape="round">
          <span>Начать!</span>
        </button>
      </div>
      <div nz-col class="hero-banner"  nzSpan="12">
        <img
          id="Rectangle_5"
          src="../assets/Yellow-Desk-Flyer-Background-Image.jpg"
          alt="hero_banner"
        />
      </div>
    </div>
  </div>

  <div class="how-to">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div nz-row nzType="flex" nzJustify="space-around" nzAlign="top">
          <div nz-col class="how-to-step" nzXs="24" nzSm="12" nzMd="8">
            <img src="../assets/banner_shop.svg" alt="shop_icon" />
            <h2>
              Регистрируйся в магазинах-партнерах и покупай любимую технику
            </h2>
          </div>
          <div nz-col class="how-to-step" nzXs="24" nzSm="12" nzMd="8">
            <img src="../assets/banner_archive.svg" alt="archive_icon" />
            <h2>
              Все гарантии будут автоматически сохранены на портале warrantify
            </h2>
          </div>
          <div nz-col class="how-to-step" nzXs="24" nzSm="12" nzMd="8">
            <img src="../assets/banner_cert.svg" alt="warranty_icon" />
            <h2>
              При гарантийном случае достаточно прийти с мобильным телефоном в сервис центр
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-content>
<!--</div>-->
