@import "variables"

nz-content
  margin-top: 2px
  background-color: $home-background-color-lightblue

.hero
  div
    @extend %section-margins

.hero-content
  margin: 2em
  h1
    font-size: 2.625em
    font-weight: bolder
  h3
    font-size: 1.750em

button
  width: 262px
  min-height: 55px

img
  z-index: -50

.how-to
  background-color: $home-background-color-gray
  div
    @extend %section-margins

.how-to-step
  margin: 2em
  img
    @extend %svg-main-color
    display: block
    margin: auto
    min-height: $icon-height * 4
  h2
    line-height: 40px
