<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Вход"
  (nzOnCancel)="handleCancel()"
  (nzAfterOpen)="onAuthModalOpen()"
  [nzFooter]="null">
  <div>
    <nz-tabset [(nzSelectedIndex)]="selectedAuthModalTab">
      <!-- OTP VERIFICATION LOGIN FORM -->
      <nz-tab nzTitle="По телефону">
        <!--          <form nz-form class="login-form" [formGroup]="authOTPForm" (ngSubmit)="onSubmit()">-->
        <form nz-form class="otp-login-form" [formGroup]="authOTPForm">
          <nz-form-item>
            <div nz-row>
              <nz-form-label [nzSpan]="5" nzOffset="1">Моб. ном.</nz-form-label>
              <nz-form-control
                [nzSpan]="17"
                nzErrorTip="Введите номер мобильного телефона">
                <nz-input-group nzPrefixIcon="mobile" [nzSuffix]="resetForm">
                  <input
                    #PhoneInput
                    nz-input
                    id="phone"
                    formControlName="phone"
                    type="tel"
                    placeholder="+7 (777) 111 7777"
                    [imask]="{ mask: '+{7} (000) 000 0000' }"
                    [unmask]="true"
                    (keydown.enter)="onPhoneInputEnterPressed($event)" />
                </nz-input-group>
                <ng-template #resetForm>
                  <i
                    nz-icon
                    nz-tooltip
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="authOTPForm.controls.phone.value"
                    (click)="onReset()"></i>
                </ng-template>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item>
            <div nz-row *ngIf="!OTPRequested">
              <nz-form-label [nzSpan]="5" nzOffset="1">СМС код</nz-form-label>
              <nz-form-control [nzSpan]="17">
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <button
                      nz-button
                      (click)="getOTP()"
                      nzBlock
                      nzType="primary"
                      nzSize="large"
                      [disabled]="authOTPForm.get('phone').invalid">
                      Запросить СМС код
                    </button>
                  </div>
                </div>
              </nz-form-control>
            </div>
            <div nz-row *ngIf="OTPRequested">
              <nz-form-label [nzSpan]="5" nzOffset="1">СМС код</nz-form-label>
              <nz-form-control [nzSpan]="17">
                <div nz-row>
                  <div nz-col nzSpan="8">
                    <nz-input-group nzPrefixIcon="unlock">
                      <div
                        nz-row
                        [nzGutter]="{
                          xs: 16,
                          sm: 8,
                          md: 8,
                          lg: 8,
                          xl: 8,
                          xxl: 8
                        }"
                        nzJustify="start">
                        <div nz-col [nzSpan]="24">
                          <input
                            #OTPInput
                            nz-input
                            formControlName="otp"
                            class="otp-input"
                            nzSize="large"
                            type="number"
                            placeholder="1234"
                            [imask]="{ mask: '0000' }"
                            (keydown.enter)="onOTPInputEnterPressed($event)"
                            style="padding-left: 32px" />
                        </div>
                      </div>
                    </nz-input-group>
                  </div>
                  <div nz-col [nzSpan]="15" nzOffset="1" *ngIf="OTPRequested">
                    <button
                      nz-button
                      nzSize="large"
                      nzBlock
                      nzType="primary"
                      (click)="getOTP()"
                      [disabled]="OTPTimerStarted">
                      <i nz-icon nzType="reload"></i>
                      {{
                        OTPTimerStarted
                          ? 'повтор через 0:' +
                            OTPTimeLeft.toString().padStart(2, '0')
                          : 'повторный запрос'
                      }}
                    </button>
                  </div>
                </div>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item *ngIf="invalidOTP">
            <div nz-row>
              <nz-form-control nzSpan="22" nzOffset="1">
                <div nz-row>
                  <div nz-col nzSpan="24">
                    <nz-alert
                      nzType="error"
                      nzMessage="Неверный СМС код, повторите попытку."
                      nzShowIcon></nz-alert>
                  </div>
                </div>
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item *ngIf="OTPRequested">
            <div nz-row>
              <nz-form-control
                [nzXs]="{ span: 22, offset: 0 }"
                [nzSm]="{ span: 22, offset: 1 }">
                <div nz-row>
                  <div nz-col>
                    <button
                      nz-button
                      nzBlock
                      nzType="primary"
                      nzSize="large"
                      (click)="onSubmit()"
                      [disabled]="authOTPForm.invalid"
                      [nzLoading]="isLoggingIn">
                      Войти
                    </button>
                  </div>
                </div>
              </nz-form-control>
            </div>
          </nz-form-item>
          <!-- TODO: auth: move remember checkbox to footer -->
          <nz-form-item>
            <div nz-row>
              <nz-form-control [nzSpan]="16" nzOffset="6">
                <label nz-checkbox formControlName="remember">
                  <span>Запомнить меня</span>
                </label>
              </nz-form-control>
            </div>
          </nz-form-item>
        </form>
      </nz-tab>
      <!-- OTP VERIFICATION LOGIN FORM -->

      <!-- EMAIL LOGIN FORM -->
      <nz-tab nzTitle="По почте" nzDisabled>
        <form nz-form class="email-login-form" [formGroup]="authEmailForm">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="text"
                  nz-input
                  formControlName="email"
                  placeholder="Логин или номер тел." />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  type="password"
                  nz-input
                  formControlName="password"
                  placeholder="Пароль" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>
      </nz-tab>
      <!-- EMAIL LOGIN FORM -->

      <!-- SOCIAL LOGIN FORM -->
      <nz-tab nzTitle="Соцсети" nzDisabled>
        <div class="social-login">
          <nz-form-item>
            <button
              id="google-btn"
              nzBlock
              nz-button
              [nzSize]="'large'"
              nzType="default">
              <img
                src="../../../assets/google_logo.svg"
                alt="google_login" />Войти с помощью Google
            </button>
          </nz-form-item>
          <nz-form-item id="fb-form-button">
            <button
              id="fb-btn"
              nzBlock
              nz-button
              [nzSize]="'large'"
              nzType="default">
              <img
                src="../../../assets/fb_logo.svg"
                alt="facebook_login" />Войти с помощью Facebook
            </button>
          </nz-form-item>
        </div>
      </nz-tab>
      <!-- SOCIAL LOGIN FORM -->
    </nz-tabset>
  </div>
</nz-modal>
