// TODO: Move to global _variables and reimport

.ant-menu
  background-color: transparent

  &:not(.ant-menu-horizontal) .ant-menu-item-selected
    background-color: transparent

.menu-item-circle
  svg
    fill: transparent

li:hover > .menu-item-circle
  svg
    fill: #F9F7F7

.menu-item-circle.menu-item-selected
  svg
    fill: #F9F7F7

.ant-menu-item.ant-menu-item-selected
  .menu-item-circle
    svg
      fill: #F9F7F7
