<nz-content>
  <div class="breadcrumb">
    <div>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a [routerLink]="['/home']">главная</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item> публичная оферта </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>

  <div class="content">
    <div nz-row>
      <div class="section">
        <h1>Договор публичной оферты</h1>
      </div>

      <div class="section">
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          sollicitudin leo at tincidunt mattis. Fusce elementum est id lorem
          pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper. Etiam interdum tellus a leo eleifend vehicula. Etiam
          consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          sollicitudin leo at tincidunt mattis. Fusce elementum est id lorem
          pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper. Etiam interdum tellus a leo eleifend vehicula.
        </p>
      </div>

      <div class="section section-definitions">
        <h3 id="definitions">
          <a class="anchor" routerLink="./" fragment="definitions">#</a>
          <span>Термины и определиения</span>
        </h3>
        <p>
          <strong>Lorem ipsum</strong> - dolor sit amet, consectetur adipiscing
          elit. Sed sollicitudin leo at tincidunt mattis. Fusce elementum est id
          lorem pulvinar, quis volutpat augue gravida.
        </p>
        <p>
          <strong> Sed luctus</strong> - nec sem mollis semper. Etiam interdum
          tellus a leo eleifend vehicula. Etiam consectetur facilisis nisi.
          Curabitur facilisis fringilla quam a bibendum. Aliquam tristique urna
          lorem, id aliquam sapien dignissim ac.
        </p>
        <p>
          <strong>Lorem ipsum</strong> - dolor sit amet, consectetur adipiscing
          elit. Sed sollicitudin leo at tincidunt mattis. Fusce elementum est id
          lorem pulvinar, quis volutpat augue gravida.
        </p>
        <p>
          <strong> Sed luctus</strong> - nec sem mollis semper. Etiam interdum
          tellus a leo eleifend vehicula. Etiam consectetur facilisis nisi.
          Curabitur facilisis fringilla quam a bibendum. Aliquam tristique urna
          lorem, id aliquam sapien dignissim ac.
        </p>
        <p>
          <strong>Lorem ipsum</strong> - dolor sit amet, consectetur adipiscing
          elit. Sed sollicitudin leo at tincidunt mattis. Fusce elementum est id
          lorem pulvinar, quis volutpat augue gravida.
        </p>
        <p>
          <strong> Sed luctus</strong> - nec sem mollis semper. Etiam interdum
          tellus a leo eleifend vehicula. Etiam consectetur facilisis nisi.
          Curabitur facilisis fringilla quam a bibendum. Aliquam tristique urna
          lorem, id aliquam sapien dignissim ac.
        </p>
      </div>

      <div class="section">
        <h3 id="1">
          <a class="anchor" routerLink="./" fragment="1">#</a>
          <span>1. Предмет договора</span>
        </h3>
        <p id="1.1">
          <a class="anchor" routerLink="./" fragment="1.1">#</a>
          <strong>1.1</strong>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Sed sollicitudin leo at tincidunt mattis. Fusce elementum est id
          lorem pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper.
        </p>
        <ul>
          <li>Etiam interdum tellus a leo eleifend vehicula</li>
          <li>
            Curabitur facilisis fringilla quam a bibendum
            <a class="link">example.com</a>
          </li>
          <li>Aliquam tristique urna lorem, id aliquam sapien dignissim ac</li>
          <li>some item</li>
        </ul>
        <p>
          Etiam consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </p>
        <p id="1.2">
          <a class="anchor" routerLink="./" fragment="1.2">#</a>
          <strong>1.2</strong>Morbi ornare tincidunt urna, eu gravida urna
          imperdiet at. Suspendisse volutpat quam a enim finibus mattis.
          Praesent eget nibh quam. Ut ac ligula lacinia, rhoncus neque vitae,
          cursus ipsum. Nunc et libero nisi. Morbi lectus nisi, dapibus at
          varius id, dapibus eu ante. Nam mattis sagittis diam, nec porttitor
          dolor mollis a. In mattis nunc et tellus aliquam, id tincidunt augue
          pulvinar. Nam mattis urna nibh, sed pulvinar arcu dictum vel. Morbi
          hendrerit euismod lacinia. Vivamus porttitor quam luctus, condimentum
          dolor ut, aliquet dolor. Fusce vel vestibulum orci, a imperdiet erat.
          Ut tempor, mauris eu fringilla hendrerit, mauris lectus dapibus
          mauris, non laoreet augue dui nec augue. Nulla facilisis aliquet leo,
          eget gravida turpis molestie quis. Curabitur pellentesque dui id
          aliquet sollicitudin. Maecenas imperdiet tristique nunc.
        </p>
        <p id="1.3">
          <a class="anchor" routerLink="./" fragment="1.3">#</a>
          <strong>1.3</strong>Donec aliquam nisi sit amet sodales pellentesque.
          Donec blandit malesuada dui, eu volutpat dui. Maecenas vitae quam
          consequat, lobortis velit vel, venenatis metus. Mauris tincidunt vitae
          libero vitae varius. Nullam varius at quam sagittis mattis. Nunc
          tincidunt, justo vel consectetur condimentum, ligula augue lacinia
          erat, eget rutrum dui velit sit amet libero. In hac habitasse platea
          dictumst. Cras scelerisque ut ipsum nec placerat. Maecenas non
          consequat elit, nec ullamcorper urna. Maecenas sed nunc id felis
          laoreet dapibus vitae id tortor. Nullam a erat dolor. Vestibulum
          suscipit auctor purus, ac consectetur quam posuere eu. Donec finibus
          tortor non magna euismod molestie.<br />
        </p>
      </div>

      <div class="section">
        <h3 id="2">
          <a class="anchor" routerLink="./" fragment="2">#</a>
          <span>2. Права и обязаности сторон</span>
        </h3>
        <p id="2.1">
          <a class="anchor" routerLink="./" fragment="2.1">#</a>
          <strong>2.1</strong>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Sed sollicitudin leo at tincidunt mattis. Fusce elementum est id
          lorem pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper.
        </p>
        <ul>
          <li>Etiam interdum tellus a leo eleifend vehicula</li>
          <li>Curabitur facilisis fringilla quam a bibendum</li>
          <li>Aliquam tristique urna lorem, id aliquam sapien dignissim ac</li>
          <li>some item</li>
        </ul>
        <p>
          Etiam consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </p>
        <p id="2.2">
          <a class="anchor" routerLink="./" fragment="2.2">#</a>
          <strong>2.2</strong>Morbi ornare tincidunt urna, eu gravida urna
          imperdiet at. Suspendisse volutpat quam a enim finibus mattis.
          Praesent eget nibh quam. Ut ac ligula lacinia, rhoncus neque vitae,
          cursus ipsum. Nunc et libero nisi. Morbi lectus nisi, dapibus at
          varius id, dapibus eu ante. Nam mattis sagittis diam, nec porttitor
          dolor mollis a. In mattis nunc et tellus aliquam, id tincidunt augue
          pulvinar. Nam mattis urna nibh, sed pulvinar arcu dictum vel. Morbi
          hendrerit euismod lacinia. Vivamus porttitor quam luctus, condimentum
          dolor ut, aliquet dolor. Fusce vel vestibulum orci, a imperdiet erat.
          Ut tempor, mauris eu fringilla hendrerit, mauris lectus dapibus
          mauris, non laoreet augue dui nec augue. Nulla facilisis aliquet leo,
          eget gravida turpis molestie quis. Curabitur pellentesque dui id
          aliquet sollicitudin. Maecenas imperdiet tristique nunc.
        </p>
        <p id="2.3">
          <a class="anchor" routerLink="./" fragment="2.3">#</a>
          <strong>2.3</strong>Donec aliquam nisi sit amet sodales pellentesque.
          Donec blandit malesuada dui, eu volutpat dui. Maecenas vitae quam
          consequat, lobortis velit vel, venenatis metus. Mauris tincidunt vitae
          libero vitae varius. Nullam varius at quam sagittis mattis. Nunc
          tincidunt, justo vel consectetur condimentum, ligula augue lacinia
          erat, eget rutrum dui velit sit amet libero. In hac habitasse platea
          dictumst. Cras scelerisque ut ipsum nec placerat. Maecenas non
          consequat elit, nec ullamcorper urna. Maecenas sed nunc id felis
          laoreet dapibus vitae id tortor. Nullam a erat dolor. Vestibulum
          suscipit auctor purus, ac consectetur quam posuere eu. Donec finibus
          tortor non magna euismod molestie.<br />
        </p>
      </div>

      <div class="section">
        <h3 id="3">
          <a class="anchor" routerLink="./" fragment="3">#</a>
          <span>3. Конфиденциальность</span>
        </h3>
        <p id="3.1">
          <a class="anchor" routerLink="./" fragment="3.1">#</a>
          <strong>3.1</strong>Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Sed sollicitudin leo at tincidunt mattis. Fusce elementum est id
          lorem pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper.
        </p>
        <ul>
          <li>Etiam interdum tellus a leo eleifend vehicula</li>
          <li>Curabitur facilisis fringilla quam a bibendum</li>
          <li>Aliquam tristique urna lorem, id aliquam sapien dignissim ac</li>
          <li>some item</li>
        </ul>
        <p>
          Etiam consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </p>
        <p id="3.2">
          <a class="anchor" routerLink="./" fragment="3.2">#</a>
          <strong>3.2</strong>Morbi ornare tincidunt urna, eu gravida urna
          imperdiet at. Suspendisse volutpat quam a enim finibus mattis.
          Praesent eget nibh quam. Ut ac ligula lacinia, rhoncus neque vitae,
          cursus ipsum. Nunc et libero nisi. Morbi lectus nisi, dapibus at
          varius id, dapibus eu ante. Nam mattis sagittis diam, nec porttitor
          dolor mollis a. In mattis nunc et tellus aliquam, id tincidunt augue
          pulvinar. Nam mattis urna nibh, sed pulvinar arcu dictum vel. Morbi
          hendrerit euismod lacinia. Vivamus porttitor quam luctus, condimentum
          dolor ut, aliquet dolor. Fusce vel vestibulum orci, a imperdiet erat.
          Ut tempor, mauris eu fringilla hendrerit, mauris lectus dapibus
          mauris, non laoreet augue dui nec augue. Nulla facilisis aliquet leo,
          eget gravida turpis molestie quis. Curabitur pellentesque dui id
          aliquet sollicitudin. Maecenas imperdiet tristique nunc.
        </p>
        <p id="3.3">
          <a class="anchor" routerLink="./" fragment="3.3">#</a>
          <strong>3.3</strong>Donec aliquam nisi sit amet sodales pellentesque.
          Donec blandit malesuada dui, eu volutpat dui. Maecenas vitae quam
          consequat, lobortis velit vel, venenatis metus. Mauris tincidunt vitae
          libero vitae varius. Nullam varius at quam sagittis mattis. Nunc
          tincidunt, justo vel consectetur condimentum, ligula augue lacinia
          erat, eget rutrum dui velit sit amet libero. In hac habitasse platea
          dictumst. Cras scelerisque ut ipsum nec placerat. Maecenas non
          consequat elit, nec ullamcorper urna. Maecenas sed nunc id felis
          laoreet dapibus vitae id tortor. Nullam a erat dolor. Vestibulum
          suscipit auctor purus, ac consectetur quam posuere eu. Donec finibus
          tortor non magna euismod molestie.<br />
        </p>
      </div>

      <div class="section">
        <h2>
          ЛОРЕМ ИПСУМ ДОЛОР СИТ АМЕТ, НО АПЕРИРИ ЕЛИГЕНДИ СИГНИФЕРУМЯУЕ ПЕР, НО
          СИТ МАЛИС ВОЦЕНТ ДИЦЕРЕТ. МУЦИУС ВОЛУПТУА МЕЛ АД,
          <strong>АДХУЦ ЛЕГЕРЕ ОРНАТУС НЕЦ НО</strong>, ЕУ ТОТА АЛБУЦИУС
          ЦОНСЕТЕТУР ХАС. ЛАБОРЕ АБХОРРЕАНТ ЦУ МЕЛ, ТЕ ТИНЦИДУНТ ПЕРЦИПИТУР ВИМ,
          ЕТ ТАТИОН ЛЕГЕРЕ ЦАУСАЕ ИУС. СЕД ЦУ ЕНИМ ОФФЕНДИТ, ПЕР ЕТ ЕЛЕИФЕНД
          СУСЦИПИАНТУР, АД ВИХ ПУРТО ЕЛИТР САЛУТАНДИ. ДИЦТА ЯУАНДО ЕИ ПРО. НАМ
          ПУТАНТ ЛЕГЕНДОС АТ, ЕИ СОНЕТ ЛУЦИЛИУС ПРО,
          <strong>АПЕРИРИ ЕФФИЦИАНТУР ВИС ТЕ</strong>. ХИС АД МАЛОРУМ
          АППЕЛЛАНТУР, ЕУ ДИЦО АЛИА ЯУИ. НО ПЕР НОСТЕР РЕЦУСАБО, НЕ ПРИ ЕТИАМ
          ВОЛУПТАТУМ. ЕА УЛЛУМ ФАЦИЛИСИ ФАЦИЛИСИС ДУО, ИН ЦЛИТА ИРАЦУНДИА НЕЦ.
          ЕА ВИТАЕ ДЕМОЦРИТУМ СИТ.
        </h2>
      </div>
    </div>
  </div>
</nz-content>
