<div
  nz-row
  class="list-header"
  nzType="flex"
  nzJustify="space-between"
  nzAlign="middle">
  <div nz-col class="list-header-text" nzSpan="20">
    <h3 [title]="category">
      <img
        class="list-icon-disabled"
        src="../../../../assets/warranty_icon.svg"
        alt="" />
      {{ category }}
    </h3>
  </div>
  <div nz-col class="list-header-badge" nzSpan="4">
    <h3>
      <nz-badge
        *ngIf="warranties.length > 0"
        [nzCount]="warranties.length"
        [nzStyle]="{
          backgroundColor: '#fff',
          color: '#999',
          boxShadow: '0 0 0 1px #d9d9d9 inset'
        }"></nz-badge>
    </h3>
  </div>
</div>

<nz-divider class="list-divider"></nz-divider>

<div nz-row class="list-container">
  <div nz-col>
    <!--        TODO: Enable virtual scroll      -->
    <!--      <cdk-virtual-scroll-viewport itemSize="20" class="demo-infinite-container">-->
    <!--        <nz-list>-->
    <!--          <nz-list-item *cdkVirtualFor="let item of ds">-->
    <!--            <nz-skeleton *ngIf="!item" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>-->
    <!--            <nz-list-item-meta-->
    <!--              *ngIf="item"-->
    <!--              [nzTitle]="nzTitle"-->
    <!--              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"-->
    <!--              [nzDescription]="item.email"-->
    <!--            >-->
    <!--              <ng-template #nzTitle>-->
    <!--                <a href="https://ng.ant.design">{{ item.name.last }}</a>-->
    <!--              </ng-template>-->
    <!--            </nz-list-item-meta>-->
    <!--          </nz-list-item>-->
    <!--        </nz-list>-->
    <!--      </cdk-virtual-scroll-viewport>-->

    <!--    CARD WITHIN LIST ITEM  -->
    <!--    PROBLEM: CARDS OVERFLOW PAST LIST BORDERS  -->
    <nz-list [nzSplit]="false">
      <nz-list-item *ngFor="let warrantyEl of warranties">
        <app-warranty-item
          [warranty]="warrantyEl"
          [warrantyUUID]="warrantyEl.uuid"></app-warranty-item>
      </nz-list-item>
    </nz-list>
  </div>
</div>
