<div nz-row>
  <div nz-col class="notification-message-content" nzSpan="24">
    <div nz-row nzJustify="space-between">
      <div
        nz-col
        id="message-title-text"
        nzXs="24"
        nzSm="24"
        nzMd="24"
        nzLg="24"
        nzXl="20"
        nzXXl="21">
        <h2>{{ notification.messageTitle }}</h2>
      </div>
      <div
        nz-col
        id="message-title-icons"
        nzXs="24"
        nzSm="24"
        nzMd="24"
        nzLg="24"
        nzXl="4"
        nzXXl="3">
        <span
          ><img src="../assets/archive_icon.svg" alt="archive" /><img
            src="../assets/trash_icon.svg"
            alt="delete"
        /></span>
      </div>
    </div>
  </div>
</div>
<div nz-row>
  <div nz-col id="message-sender" nzSpan="12">
    <div id="message-sender-icon">
      <nz-avatar [nzSize]="40" nzIcon="robot"></nz-avatar>
    </div>
    <div id="message-sender-info">
      <p>
        <b>От: </b>
        {{ notification.messageSender }}
        <a>Unsubscribe</a>
      </p>
    </div>
  </div>
  <div nz-col id="message-sender-date" nzSpan="12">
    <p>
      <b>Отправлено: </b>
      {{ notification.dateSent | date: 'medium' }}
    </p>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <div [innerHTML]="notification.messageContent"></div>
  </div>
</div>
<div nz-row *ngIf="notification.warrantyUUID">
  <div nz-col nzSpan="24">
    <p>ссылка на гарантию:</p>
  </div>
  <div nz-col id="message-warranty-link" nzSpan="24">
    <div nz-row nzGutter="48">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="5" nzXl="4" nzXXl="4">
        <div id="message-warranty-link-image-frame">
          <img alt="warranty-item" [src]="warranty.imagePath" />
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="19" nzXl="20" nzXXl="20">
        <nz-descriptions [nzTitle]="warrantyLink">
          <nz-descriptions-item nzTitle="EAN">{{
            warranty.ean
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Сер #">{{
            warranty.sn
          }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Истекает">{{
            warranty.history[warranty.history.length - 1].expiryDate
              | date: 'short'
          }}</nz-descriptions-item>
          <ng-template #warrantyLink>
            <div nz-row>
              <div
                nz-col
                nzXs="24"
                nzSm="24"
                nzMd="24"
                nzLg="20"
                nzXl="20"
                nzXXl="20">
                <a [routerLink]="['/console', 'warranty', warrantyUUID]">{{
                  warranty.productName
                }}</a>
              </div>
              <div
                nz-col
                nzXs="24"
                nzSm="24"
                nzMd="24"
                nzLg="4"
                nzXl="4"
                nzXXl="4">
                <nz-tag
                  *ngIf="!warranty.history[warranty.history.length - 1].valid"
                  [nzColor]="'red'"
                  >истекла</nz-tag
                >
                <nz-tag
                  *ngIf="warranty.history[warranty.history.length - 1].valid"
                  [nzColor]="'green'"
                  >действительна</nz-tag
                >
              </div>
            </div>
          </ng-template>
        </nz-descriptions>
      </div>
    </div>
  </div>
</div>
