<!--<div>-->
<nz-content>
  <div class="hero">
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
      <div
        nz-col
        class="hero-banner-sm"
        nzXs="24"
        nzSm="24"
        nzMd="0"
        nzLg="0"
        nzXl="0"
        nzXXl="0">
        <img
          src="../assets/Yellow-Desk-Flyer-Background-Image.jpg"
          alt="hero_banner" />
      </div>
      <div
        nz-col
        class="hero-content"
        nzXs="24"
        nzSm="24"
        nzMd="12"
        nzLg="12"
        nzXl="12"
        nzXXl="12">
        <h1>Возьмите под контроль свои гарантии</h1>
        <h3>
          Устраните бумажный процесс связанный с гарантийным обслуживанием ваших
          приборов
        </h3>
        <button
          nz-button
          nzType="primary"
          [nzSize]="'large'"
          nzShape="round"
          (click)="onLogin()">
          <span>Начать!*</span>
        </button>
      </div>
      <div
        nz-col
        class="hero-banner-lg"
        nzXs="0"
        nzSm="0"
        nzMd="12"
        nzLg="12"
        nzXl="12"
        nzXXl="12">
        <img
          src="../assets/Yellow-Desk-Flyer-Background-Image.jpg"
          alt="hero_banner" />
      </div>
    </div>
  </div>

  <div class="how-to">
    <div nz-row>
      <div nz-col nzSpan="24">
        <div nz-row nzType="flex" nzJustify="space-around" nzAlign="top">
          <div nz-col nzSpan="24">
            <h3 class="section-title">Как это работает?</h3>
          </div>
          <div nz-col class="how-to-step" nzXs="24" nzSm="12" nzMd="8">
            <img src="../assets/banner_shop.svg" alt="shop_icon" />
            <h4>
              Регистрируйся в магазинах-партнерах и покупай любимую технику
            </h4>
          </div>
          <div nz-col class="how-to-step" nzXs="24" nzSm="12" nzMd="8">
            <img src="../assets/banner_archive.svg" alt="archive_icon" />
            <h4>
              Все гарантии будут автоматически сохранены на портале warrantify
            </h4>
          </div>
          <div nz-col class="how-to-step" nzXs="24" nzSm="12" nzMd="8">
            <img src="../assets/banner_cert.svg" alt="warranty_icon" />
            <h4>
              При гарантийном случае достаточно прийти с мобильным телефоном в
              сервис центр
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="review">
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="top">
      <div nz-col nzSpan="24">
        <h3 class="section-title">Что думают наши пользователи</h3>
      </div>
      <div nz-col class="review-item" nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="6" nzMd="6">
            <img
              class="review-avatar"
              src="../assets/review-avatar-1.png"
              alt="review-avatar-1" />
          </div>
          <div nz-col nzXs="24" nzSm="18" nzMd="18">
            <div class="review-text">
              " Can't believe this didn't exits before! "
            </div>
            <div class="review-signature">- Anjit G.</div>
          </div>
        </div>
      </div>
      <div nz-col class="review-item" nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="6" nzMd="6">
            <img
              class="review-avatar"
              src="../assets/review-avatar-2.png"
              alt="review-avatar-1" />
          </div>
          <div nz-col nzXs="24" nzSm="18" nzMd="18">
            <div class="review-text">
              " Починил свой iPhone самим телефоном. Без талонов, без чеков, без
              удостоверения! "
            </div>
            <div class="review-signature">- Константин А.</div>
          </div>
        </div>
      </div>
      <div nz-col class="review-item" nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="6" nzMd="6">
            <img
              class="review-avatar"
              src="../assets/review-avatar-3.png"
              alt="review-avatar-1" />
          </div>
          <div nz-col nzXs="24" nzSm="18" nzMd="18">
            <div class="review-text">
              " Mне больше не нужно иметь при себе чеки, чтобы показать гарантию
              на ноутбук! "
            </div>
            <div class="review-signature">- Анна Н.</div>
          </div>
        </div>
      </div>
      <div nz-col class="review-item" nzXs="24" nzSm="24" nzMd="24" nzLg="12">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="6" nzMd="6">
            <img
              class="review-avatar"
              src="../assets/review-avatar-4.png"
              alt="review-avatar-1" />
          </div>
          <div nz-col nzXs="24" nzSm="18" nzMd="18">
            <div class="review-text">
              " Так просто и без регистрации заранее. Мои два последних телефона
              уже здесь! "
            </div>
            <div class="review-signature">- Вадим В.</div>
          </div>
        </div>
      </div>

      <div class="call-to-action">
        <div nz-row nzAlign="middle" nzJustify="space-around">
          <h3>Верните контроль над своими гарантиями</h3>
          <button
            nz-button
            nzType="primary"
            [nzSize]="'large'"
            nzShape="round"
            (click)="onLogin()">
            <span>Начать!*</span>
          </button>
          <p>
            *Нажав "начать" вы принимаете условия
            <a routerLink="/home/tos">публичной оферты</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--  <img src="../assets/Home_rus@2x.jpg" alt="homepage" style="width: 100vw">-->
</nz-content>
<!--</div>-->
