<div id="nav">
  <nz-header>
    <div class="header-content" nz-row nzType="flex" nzJustify="space-between">
      <div
        nz-col
        nzSpan="4"
        class="ant-col ant-col-xs-24 ant-col-sm-12 ant-col-md-8 ant-col-lg-6 ant-col-xl-5 ant-col-xxl-6"
      >
        <h2 class="header-menu-logo" routerLink="./main">
          <img src="../assets/logo_v4_icon.svg" alt="logo" /><span>warrantify.me</span>
        </h2>
      </div>
      <div
        nz-col
        nzSpan="12"
        class="nav nav-hide ant-col ant-col-xs-0 ant-col-sm-0 ant-col-md-14 ant-col-lg-16 ant-col-xl-17 ant-col-xxl-16"
      >
        <ul nz-menu class="header-menu" [nzTheme]="'light'" [nzMode]="'horizontal'">
          <li nz-menu-item routerLink="./main" routerLinkActive="ant-menu-item-selected">главная</li>
          <li nz-menu-item routerLink="./howitworks" routerLinkActive="ant-menu-item-selected">как это работает</li>
          <li nz-menu-item routerLink="./about" routerLinkActive="ant-menu-item-selected">о нас</li>
          <li nz-menu-item routerLink="./contact" routerLinkActive="ant-menu-item-selected">контакты</li>
          <li nz-menu-item *ngIf="isLoggedIn" routerLink="/console">мои гарантии</li>
        </ul>
      </div>
      <div
        nz-col
        nzSpan="2"
        class="nav nav-hide ant-col ant-col-xs-0 ant-col-sm-2 ant-col-md-2 ant-col-lg-2 ant-col-xl-2 ant-col-xxl-2"
      >
        <button nz-button class="login-button" nzType="default" (click)="onLoginLogout()">{{ isLoggedIn ? 'выход' : 'вход' }}</button>
      </div>
    </div>
  </nz-header>
</div>
