nz-header
  position: relative
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.161)
  //z-index: 50

#nav ul
  float: right

.header-menu
  line-height: 64px

.flex-container
  padding-top: 0
  display: flex
  justify-content: flex-end
  margin-left: auto

.logo
  height: 25px
  width: 25px


