<nz-content>
  <div class="breadcrumb">
    <div>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a [routerLink]="['/home']">главная</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item> о нас </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>

  <div class="content">
    <div nz-row>
      <div class="section">
        <h1>О нас</h1>
      </div>
      <div class="section">
        <h3 id="what">
          <a class="anchor" routerLink="./" fragment="what">#</a>
          <span>Что такое warrantify.me?</span>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          sollicitudin leo at tincidunt mattis. Fusce elementum est id lorem
          pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper. Etiam interdum tellus a leo eleifend vehicula. Etiam
          consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </p>
        <p>
          Morbi ornare tincidunt urna, eu gravida urna imperdiet at. Suspendisse
          volutpat quam a enim finibus mattis. Praesent eget nibh quam. Ut ac
          ligula lacinia, rhoncus neque vitae, cursus ipsum. Nunc et libero
          nisi. Morbi lectus nisi, dapibus at varius id, dapibus eu ante. Nam
          mattis sagittis diam, nec porttitor dolor mollis a. In mattis nunc et
          tellus aliquam, id tincidunt augue pulvinar. Nam mattis urna nibh, sed
          pulvinar arcu dictum vel. Morbi hendrerit euismod lacinia. Vivamus
          porttitor quam luctus, condimentum dolor ut, aliquet dolor. Fusce vel
          vestibulum orci, a imperdiet erat. Ut tempor, mauris eu fringilla
          hendrerit, mauris lectus dapibus mauris, non laoreet augue dui nec
          augue. Nulla facilisis aliquet leo, eget gravida turpis molestie quis.
          Curabitur pellentesque dui id aliquet sollicitudin. Maecenas imperdiet
          tristique nunc.
        </p>
      </div>
      <div class="section">
        <h3 id="goal">
          <a class="anchor" routerLink="./" fragment="goal">#</a>
          <span>Цель проекта</span>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          sollicitudin leo at tincidunt mattis. Fusce elementum est id lorem
          pulvinar, quis volutpat augue gravida. Sed luctus nec sem mollis
          semper. Etiam interdum tellus a leo eleifend vehicula. Etiam
          consectetur facilisis nisi. Curabitur facilisis fringilla quam a
          bibendum. Aliquam tristique urna lorem, id aliquam sapien dignissim
          ac.
        </p>
        <p>
          Morbi ornare tincidunt urna, eu gravida urna imperdiet at. Suspendisse
          volutpat quam a enim finibus mattis. Praesent eget nibh quam. Ut ac
          ligula lacinia, rhoncus neque vitae, cursus ipsum. Nunc et libero
          nisi. Morbi lectus nisi, dapibus at varius id, dapibus eu ante. Nam
          mattis sagittis diam, nec porttitor dolor mollis a. In mattis nunc et
          tellus aliquam, id tincidunt augue pulvinar. Nam mattis urna nibh, sed
          pulvinar arcu dictum vel. Morbi hendrerit euismod lacinia. Vivamus
          porttitor quam luctus, condimentum dolor ut, aliquet dolor. Fusce vel
          vestibulum orci, a imperdiet erat. Ut tempor, mauris eu fringilla
          hendrerit, mauris lectus dapibus mauris, non laoreet augue dui nec
          augue. Nulla facilisis aliquet leo, eget gravida turpis molestie quis.
          Curabitur pellentesque dui id aliquet sollicitudin. Maecenas imperdiet
          tristique nunc.
        </p>
        <p>
          Donec aliquam nisi sit amet sodales pellentesque. Donec blandit
          malesuada dui, eu volutpat dui. Maecenas vitae quam consequat,
          lobortis velit vel, venenatis metus. Mauris tincidunt vitae libero
          vitae varius. Nullam varius at quam sagittis mattis. Nunc tincidunt,
          justo vel consectetur condimentum, ligula augue lacinia erat, eget
          rutrum dui velit sit amet libero. In hac habitasse platea dictumst.
          Cras scelerisque ut ipsum nec placerat. Maecenas non consequat elit,
          nec ullamcorper urna. Maecenas sed nunc id felis laoreet dapibus vitae
          id tortor. Nullam a erat dolor. Vestibulum suscipit auctor purus, ac
          consectetur quam posuere eu. Donec finibus tortor non magna euismod
          molestie.<br />
        </p>
      </div>
    </div>
  </div>
</nz-content>
