<nz-content>

  <div class="breadcrumb">
    <div>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a [routerLink]="['/home']">главная</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          контакты
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>

  <div class="content">
    <div nz-row>
      <div class="section">
        <h1>Контакты</h1>
      </div>

      <div class="section">
        <h2>Наши служба поддержки работает каждый день с 9:00 до 17:00. Мы доступны по адрессу <a class="link">questions@warrantify.me</a> (ответ в течении 24 часов).</h2>
      </div>

      <div class="section">
        <h3 id="advantages">
          <a class="anchor" routerLink="./" fragment="advantages">#</a>
          <span>Социальные сети</span>
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin leo at tincidunt mattis.
        </p>
        <ul>
          <li>Facebook <a [href]="fbPage" class="link"><i nz-icon nzType="right" nzTheme="outline"></i></a></li>
          <li>В контакте <a [href]="vkPage" class="link"><i nz-icon nzType="right" nzTheme="outline"></i></a></li>
          <li>Instagram <a [href]="igPage" class="link"><i nz-icon nzType="right" nzTheme="outline"></i></a></li>
        </ul>
      </div>

    </div>
  </div>

</nz-content>
