@import "../../../scss/variables"

.warranty
  height: 100vh
  width: 100%

  .warranty-list
    display: block
    height: 100vh
    box-shadow: rgba(0,0,0,.16) 3px 3px 6px

  .warranty-detail
    height: 100vh
    overflow: auto
    padding: 1.5em 1.5em 1.5em 1.5em

